body {
    background-color: #001740;
}
.logo {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}
hr {
    width: 95%;
}
.social {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
}
.qlq {
    display: flex;
    margin: auto;
    margin-top: 20px;
    height: 336px;
    width: 80%;
    max-width: 1000px;
}
.contato {
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: whitesmoke;
    padding: 10px;
    text-align: center;

}
.contato2 {
    --bg-overlay-color: transparent;
    --fill-layer-image-opacity: 1;
    --column-width: 490px;
    --column-flex: 490;
    
}
.downloads {
    display: flex;
    margin: auto;
    margin-top: 40px;
    width: 80%;
    max-width: 1000px;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    color: black;
  }
li {
    display: inline;
    float: left;
    color: black;
    background-color: whitesmoke;
  }
li a:hover {
    background-color: #09B6ED;
}
li a:link, a:visited{
    text-decoration: none
}
.down {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }