* {
    box-sizing: border-box;
    font-family:  Calibri;
}

body {
    background-color: #001740;
}
.logo {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}
hr {
    width: 95%;
}
.qlq {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    max-width: 95%;
}
.contato {
    top: 0;
    max-width: 490px;
    height: 100%;
    background-color: whitesmoke;
    padding: 10px;
    text-align: center;
    
}
.contato2 {
    top: 0;
    
    width: 490px;
    background-size: cover;
    background-image: url(contatoimg.webp);
  }

#down {
    margin-top: 20px;
    text-align: center;
    color: whitesmoke;
    font-size: 30px;
    
}
.downloads {
    text-align: center;
    margin-top: 20px;
    padding-left: 0px;
}
ul {
    list-style-type: none;
    color: black;
  }
li {
    display: inline-block;
    padding: 10px;
    background-color: whitesmoke;
  }
li:hover {
    background-color: #09B6ED;  
}
a:link, a:visited{
    text-decoration: none;
    color: black;
}
footer {
    height: 50px;
}
